body {
  margin: 0%;
  font-family: "Inria Sans", sans-serif;
  color: #003049;
}
/* header */
.logo {
  position: absolute;
  width: 183px;
  height: 40px;
  top: 23px;
  left: 39px;
}
.header-link {
  position: absolute;
  width: 254px;
  height: 24px;
  top: 31px;
  left: 508px;
  font-size: 20px;
  font-weight: 300;
  line-height: 23.98px;
  display: flex;
  justify-content: space-between;
}
.header-link-color {
  color: #003049;
  text-decoration: none;
}
.header-home-image {
  position: absolute;
  width: 37px;
  height: 40.26px;
  top: 28px;
  left: 1047px;
}
.header-line {
  position: relative;
  width: 1085px;
  height: 3px;
  top: 90px;
  left: 27px;
  background: #003049;
}
/* main */
.small-rectangle {
  position: relative;
  width: 6px;
  height: 42px;
  top: 181px;
  left: 79px;
  background-color: #003049;
}
.hero-section-left {
  position: absolute;
  width: 443px;
  height: 42px;
  top: 181px;
  left: 101px;
  font-size: 35px;
  font-weight: 700;
  line-height: 41.97px;
  color: #003049;
}
.hero-section-bottom {
  position: absolute;
  width: 226px;
  height: 24px;
  top: 236px;
  left: 79px;
  font-size: 20px;
  font-weight: 300;
  line-height: 23.98px;
}
.parent {
  position: relative;
}
.daughter {
  padding: 2px;
  background-color: white;
  height: 24px;
  width: 33px;
  top: -12px;
  left: 15px;
  position: absolute;
}
input {
  padding-left: 10px;
  height: 50px;
  width: 480px;
  border: 2px solid #003049;
  border-radius: 15px;
}
input::placeholder,
textarea::placeholder {
  color: #003049;
  font-weight: 300;
  font-size: 15px;
  line-height: 18px;
  font-family: "Inria Sans", sans-serif;
}
.input1 {
  position: absolute;
  top: 329px;
  left: 99px;
}
.input2 {
  position: absolute;
  top: 329px;
  left: 620px;
}
.input2 .daughter {
  width: 60px;
}
.input3 .daughter {
  width: 80px;
}
#Description-size {
  padding-left: 10px;
  width: 1008px;
  height: 106px;
  padding-top: 12px;
  border: 2px solid #003049;
  border-radius: 10px;
}
.input3 {
  position: absolute;
  top: 440px;
  left: 90px;
}
/* section */
.text {
  font-size: 20px;
  font-weight: 400;
  line-height: 24.2px;
  margin-bottom: 10px;
}
.A {
  height: 30px;
  border-radius: 8px 8px 8px 8px;
  border: 1.2px solid #003049;
  color: #003049;
  font-weight: 300;
  margin-right: 10px;
  font-size: 12px;
  line-height: 17.99px;
}
.technology {
  position: absolute;
  top: 613px;
  left: 86px;
}
.privacy {
  position: absolute;
  top: 613px;
  left: 443px;
}
.Project-Status {
  position: absolute;
  top: 613px;
  left: 658px;
}
/* section end */
.post-button {
  position: absolute;
  width: 277.95px;
  height: 51.4px;
  top: 770px;
  left: 70px;
  font-family: "Inria Sans", sans-serif;
  background-color: #003049;
  color: #ffffff;
  font-size: 19.13px;
  font-weight: 700;
  line-height: 22.93px;
  text-align: center;
}
